body{
    background-color: #202020;
    color: whitesmoke;
}

.navbar{
    background-color: #404040;
    padding: 2px 0px;
}
.navbar li{
    list-style: none;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}


.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: darkgoldenrod;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card{
    color: black;
    background-color: white;
    margin: 5px;
    padding: 8px;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}